.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    &-list {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
    &-search {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &-date {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    h2 {
        text-align: center;
    }
    .note {
        display: flex;
        gap: 40px;

        &-1 {
            display: flex;
            align-items: center;
            gap: 10px;
            div {
                background-color: #94d8f7;
                width: 30px;
                height: 30px;
            }
        }
        &-2 {
            display: flex;
            align-items: center;
            gap: 10px;
            div {
                background-color: #ecda12;
                width: 30px;
                height: 30px;
            }
        }
        &-3 {
            display: flex;
            align-items: center;
            gap: 10px;
            div {
                background-color: #f75252;
                width: 30px;
                height: 30px;
            }
        }
    }
}
