$bg-lang-active: #ccee5d;
$white: #fff;
$black: #000;
$bg-color: #1b0080;

$color-text: #99dd6e;

$color-purple: #663cc5;
$hover-purple: #673dc7;
$color-hover: #ccee5d;

$mobile-s: 350px;
$mobile: 415px;
$tablet: 768px;
$tablet-s: 600px;
$large: 1024px;
$desktop: 1400px;
$laptop: 1660px;

$font: 'Montserrat', sans-serif;

$primary-font: 'Be Vietnam Pro', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
